.idea/
venv/
ScratchNote.py
train-images-idx3-ubyte.gz
mnist.pkl.gz
nn_ex.py
MNIST_Test_Data/
MNIST_Train_Data/
Pytorch_Task3_Scratch.py
__pycache__/
AntColonyOOP.py
test.txt
wb_mtrx - Copy - Copy.txt
wb_mtrx - Copy.txt
wb_mtrx.txt
wb_mtrx_l3-30-e4-batch30.txt